<!-- <div class="container-in">
  <div class="heading">
    <app-property-name></app-property-name>
    <div class="clear"></div>
  </div>
  <div class="pro-project">
    <app-property-left-navbar></app-property-left-navbar>
    <div class="pro-project-right">
      <div class="heading">
        <h2>Project</h2>
        <div class="clear"></div>
      </div>
      <ul>
        <li *ngFor="let props of propertyProject" style="cursor:pointer">
          <a>
            <img *ngIf="!props.thumbUrl" src="../../assets/images/no-image.png" style="max-height: 175px;" (click)="onClickProject(props)">
            <img  *ngIf="props.thumbUrl" src="{{props.thumbUrl}}" style="max-height: 175px;" (click)="onClickProject(props)">
            <strong (click)="onClickProject(props)" class="box-shadow">{{props.LeadName}}</strong>
          </a>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div> -->



<section class="properties-details">
  <div class="containerd">
    <div class="properties-name">
      <a style="cursor:pointer">
        <app-property-name></app-property-name>
      </a>

    </div>
    <div class="properties-view">
      <app-property-left-navbar></app-property-left-navbar>


      <div class="prop-proj">
        <h5>project</h5>
        <div class="row">
          <div class="item col-md-3 col-6" style="padding-bottom:1%" *ngFor="let props of propertyProject">
            <a (click)="onClickProject(props)" style="cursor:pointer">
              <div class="pic">
                <img *ngIf="!props.thumbUrl" src="../../assets/images/no-image.png" >
                <img *ngIf="props.thumbUrl" src="{{props.thumbUrl}}">
                <div class="overlay"></div>
              </div>
              <p>{{props.LeadName}}</p>
            </a>
          </div>
          <!-- <div class="item col-md-3 col-6" >
            <a href="#">
              <div class="pic">
                <img src="../../assets/images/excel.png" alt="project image">
                <div class="overlay"></div>
              </div>
              <p>ohau snow field</p>
            </a>
          </div> -->

        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<footer>
    <div class="containerd footer">
        <div class="support-chat fixed">
            <i class="fa fa-commenting-o"></i>
            <span>live support chat</span>
        </div>
    </div>
</footer>
