<p-growl [value]="message" [immutable]="false" life="7000"></p-growl>
<div class="top">
  <div class="top__in" style="padding-top: 10px;padding-bottom: 10px;padding-left: 30px;background-color: white;">
    <a href="http://molecularinsights.io/" class="top__logo"><img src="./assets/images/mi_logo.png" alt=""></a>
  </div>
</div>
<div class="login-screen">
  <!--<form class="form-block ">-->
    <div class="flex-block flex-column align-center">
      <div class="block p-t-10">
        <div class="title">
          Reset Password for {{this.resetPassword.UserName}}
        </div>
      </div>      
      <div class="block p-t-10">
        <input type="password" class="field w-320" placeholder="New Password" [(ngModel)]="resetPassword.Password" required />
      </div>
       <div class="block p-t-10">
        <input type="password" class="field w-320" name="Confirm Password" placeholder="Confirm Password" [(ngModel)]="resetPassword.ConfirmPassword" required/>
      </div>
     
      <div class="block p-t-10">
        <button class="btn w-320 h-60" (click)="reset()">Reset Password</button>        
      </div>   
       
    </div>
  <!--</form>-->
  <div class="login-footer">
    <a href="tel:614.599.3800" class="phone">614.599.3800</a> |
    <a href="#" class="email">molecularinsights.io</a>
  </div>
</div>



